{
  "extends": ["../.eslintrc"],
  "rules": {
    // We want the test callback to have access to the `this` mocha context, so they need to be full functions.
    "prefer-arrow-callback": "off",
    "func-names": "off",
    // Allow importing packages from dev-dependencies.
    "import/no-extraneous-dependencies": "off",
    // Chai matchers are often expressions rather than functions, which causes this error.
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": "off"
  }
}
